<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<%= link_to 'New Photo', new_photo_path %>

<table>
  <thead>
    <tr>
      <th>Original</th>
      <th>Effect</th>
      <th>Output image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td> <%= image_tag(photo.original, style: 'height:200px;width:auto') %> </td>
        <td><%= photo.effect %></td>
        <td> <%= image_tag(photo.output_image, alt: photo.output_image, style: 'height:200px;width:auto') unless photo.output_image.nil? %> </td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
